.column {
    display: inline-block;
    min-width: 20px;
    min-height: 25px;
    border: 1px solid gray;
}

.gridRow {
    display: flex;
    flex-wrap: nowrap;
}

.column:hover {
    background-color: gold;
}